<article class="container">
    <section class="fondo">
        <div class="col-12 col-sm-6 col-lg-4 mb-3">
            <form class="user border p-3">
                <div class="form-group">
                    <label for="exampleInputName">Nombre completo</label>
                    <input type="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Introduzca su nombre">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <small id="emailHelp" class="form-text text-muted">Ingrese la contraseña que le dio su médico</small>
                </div>
                <a class="btn btn-primary btn-lg" [routerLink]="['/ingresar']" role="button">Ingresar</a>
                </form>
        </div>
    </section>
    <section>
        <div class="jumbotron">
            <h1 class="display-4">Empieza tu proceso de recuperación!</h1>
            <p class="lead">La fisioterapia a distancia se pretende lograr que los tratamientos requeridos después someterse a un reemplazo articular de cadera y/o rodilla, se realicen con mayor comodidad desde el sitio de preferencia.</p>
            <hr class="my-4">
            <p>La recuperación exitosa de la movilidad en las articulaciones, no solo depende de la operación realizada, si no también, de un buen proceso de recuperación fisioterapéutico que empieza al día siguiente de ser llevada a cabo la cirugía.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Conocer mas</a>
          </div>
    </section>
</article>