.user{
    margin: 10px;
    
    background-color: #FCF6F4;
    box-shadow: 0px 6px 33px -12px black;
    border-radius: 0.5rem;  
  

   
}
.fondo{
    background-image: url(/assets/images/Inicial.png);
    /*  */

    background-size: 100%;
    background-repeat: no-repeat;
    min-width: 80%;
}

@media screen and (max-width:768px) {
    /* reglas CSS */
    .fondo{
        background-size: cover;
    }
  }

  @media screen and (max-width:576px) {
    /* reglas CSS */
    .fondo{
        background-size: cover;
        background-position: center center;
    }
  }