<article class="container p-3">
    <section>
        <form class="formulario border p-3">
            <div class="row">
              <div class="col">
                <label for="formGroupExampleInput">Nombres</label>
                <input type="text" class="form-control" placeholder="Primer y segundo nombre">
              </div>
              <div class="col">
                <label for="formGroupExampleInput">Apellidos</label>
                <input type="text" class="form-control" placeholder="Primer y segundo apellido">
              </div>
            </div>  
            <div class="row">
                <div class="col-6">
                  <label for="formGroupExampleInput">Documento de identidad</label>
                  <input type="text" class="form-control">
                </div>
                <div class="col-2">
                  <label for="formGroupExampleInput">Edad</label>
                  <input type="text" class="form-control" placeholder="Numero">
                </div>
              </div>
            <div><label for="inputState">Datos de nacimiento</label></div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="inputCity">Año</label>
                    <select id="inputState" class="form-control">
                        <option selected></option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputState">Mes</label>
                    <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputState">Día</label>
                    <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                    </select>
                </div>
            </div>
            <div class="row col-6">
                <label for="inputTelefono4">Telefono</label>
                <input type="telefono" class="form-control" id="inputTelefono4">
            </div>
            <div class="form-group">
                <label for="inputAddress">Dirección</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Departamento</label>
                    <select id="inputState" class="form-control">
                        <option selected></option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputState">Ciudad</label>
                    <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail4">Correo electrónico</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Qhdksdhkdsh">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
    </section>
</article>